.blogList {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--ivory);
}

.blogList h2 {
  color: var(--navy);
  font-size: var(--fs-lg);
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1.5rem;
}

.blogContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* Button Styling */
.allBlogs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
  margin-top: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  align-self: flex-end;
}

.allBlogs span {
  color: var(--navy);
  font-size: var(--fs-md);
  font-weight: bold;
  text-decoration: none;
  font-family: 'Montserrat Bold', sans-serif;
  margin-bottom: 0;
}

.allBlogs svg {
  fill: var(--navy);
  width: var(--fs-md);
  height: var(--fs-md);
}
