.blogOverview {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.blogOverview h4 {
  color: var(--navy);
  font-size: var(--fs-md);
  font-family: 'Montserrat Black', sans-serif;
  margin-bottom: 1rem;
}

.blogOverview span {
  color: var(--navy);
  font-size: var(--fs-base);
  font-family: 'Montserrat Light', sans-serif;
  margin-bottom: 0.25rem;
}

.blogOverview p {
  color: var(--navy);
  font-size: var(--fs-base);
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1rem;
}

/* Button Styling */
.button {
  color: var(--orange);
  font-size: var(--fs-base);
  font-family: 'Montserrat Bold', sans-serif;
  font-weight: bold;
  text-decoration: none;
}
