.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  background-color: var(--navy);
}

.introContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.75rem;
  padding: 7.5rem;
}

.introContent h1 {
  color: var(--ivory);
  font-size: var(--fs-xxxl);
}

.introContent > span {
  color: var(--ivory);
  font-size: var(--fs-md);
  width: 70%;
}

.cv {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 0.25rem;
}

.cv a {
  color: var(--orange);
  font-size: var(--fs-md);
  text-decoration: none;
}

.cv svg {
  fill: var(--orange);
  height:  var(--fs-md);
  width:  var(--fs-md);
  cursor: pointer;
}
