.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  background-color: var(--navy);
  font-family: 'Montserrat', sans-serif;
}

.introContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.75rem;
  padding: 7.5rem;
}

.introContent h1 {
  color: var(--ivory);
  font-size: var(--fs-xxxl);
  font-family: 'Montserrat', sans-serif;
}

.introContent > span {
  color: var(--ivory);
  font-size: var(--fs-md);
  font-family: 'Montserrat Light', sans-serif;
  width: 60%;
}

/* CV Styling */
.cv {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 0.25rem;
}

.cv a {
  color: var(--orange);
  font-size: var(--fs-md);
  text-decoration: none;
  font-family: 'Montserrat Bold', sans-serif;
}

.cv svg {
  fill: var(--orange);
  height:  var(--fs-md);
  width:  var(--fs-md);
  transform: scale(1.1);
  cursor: pointer;
}

/* Socials Styling */
.socials {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.socials svg {
  width: 3rem;
  height: 3rem;
  fill: var(--orange);
  color: var(--orange);
  transition: all 300ms ease-in-out;
}

.socials svg:hover {
  transform: scale(1.1);
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.socials svg:first-child {
  width: 2.9rem;
  height: 2.9rem;
}

/* Media Query for Mobile Devices below 480px in width */
@media (max-device-width: 576px) {

  .intro {

  }

  .introContent {
    padding: 2.5rem;
  }

  .introContent > span {
    width: 100%;
  }

}
