.logos {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border: 1px solid red;
}

.logo svg {
  height: 3rem;
  width: 3rem;
  filter: grayscale(1);
}
