.menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 10rem 10rem;
  background-color: var(--orange);
  z-index: 100;
}

.top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 3rem;
  column-gap: 7.5rem;
  padding-bottom: 5rem;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5rem;
  border-top: 1px solid var(--navy);
}

.hello,
.projects,
.blogs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.hello h3,
.projects h3,
.blogs h3 {
  color: var(--ivory);
  font-size: var(--fs-base);
  font-family: 'Montserrat Bold', sans-serif;
}

.hello a,
.projects a,
.blogs a {
  color: var(--navy);
  font-size: var(--fs-base);
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.close,
.copyright {
  color: var(--navy);
  font-size: var(--fs-base);
  font-family: 'Montserrat', sans-serif;
}

.close {
  cursor: pointer;
}

/* Animated Underline Styling */
.hello a,
.projects a,
.blogs a {
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.hello a:after,
.projects a:after,
.blogs a:after {
  display: block;
  content: '';
  border-bottom: 1px solid var(--navy);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 100% 50%;
}

.hello a:hover:after,
.projects a:hover:after,
.blogs a:hover:after {
  transform: scaleX(1);
  transform-origin: 0 50%;
}
