.projectTab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5rem;
  border: 1px solid green;
}

.overview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45%;
  max-width: 45%;
}

.image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  max-width: 40%;
  border: 1px solid red;
}

.name,
.overview h4,
.overview p {
  color: var(--navy);
}

.overview h4 {
  font-size: var(--fs-base);
  margin-bottom: 0.5rem;
}

.name {
  font-size: var(--fs-xl);
  margin-bottom: 1rem;
}

.overview p {
  font-size: var(--fs-base);
  margin-bottom: 1.5rem;
}

.overview a {
  text-decoration: none;
}


.button {
  color: var(--orange);
  text-decoration: none;
  font-size: var(--fs-base);
  font-weight: 900;
  background-color: var(--ivory);
  padding: 1.25rem 2.5rem;
  border: none;
  border: 3px solid var(--orange);
  transition: all 300ms ease-in-out;
}

.button:hover {
  color: var(--ivory);
  background-color: var(--orange);
  border: 3px solid var(--orange);
  transition: all 300ms ease-in-out;
}
