.socials {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.socials svg {
  width: 3rem;
  height: 3rem;
  fill: var(--orange);
  color: var(--orange);
}

.socials svg:hover {
  fill: var(--ivory);
  color: var(--ivory);
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.socials svg:first-child {
  width: 2.9rem;
  height: 2.9rem;
}
